<div class="col">
  <div class="row">
  <div class="card" style="width: 18rem;" *ngFor="let i of info">
    <mat-card class="">

      <!-- IMAGEN -->
      <div class="contenedor">
        <img class="imagen" mat-card-image src="{{i.imagen}}">
        <div class="centrado">
          <mat-card-header>
            <!-- TÍTULO -->
            <mat-card-title class="titulo"><p class="borde">{{i.titulo}}</p></mat-card-title>
          </mat-card-header>
        </div>
      </div>
    </mat-card>
  </div>