/*p {
    /*animation: 2s 2 alternate slidein;
    /*es lo mismo de abajo
    animation-name: slidein;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }
  
  @keyframes slidein {
    from {
      margin-left: 170%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }

    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
      }
      
  }*/
  .imagen{
    height: 60dvh;
    width: 100%;
    padding: 1%;
    cursor: pointer;
} 

.contenedor{
    position: relative;
    display: inline-block;
}

.centrado{
    position: absolute;
    top: 85%;
    left: 0%;

}

 .titulo:hover{
    height: 100%;   
    background: orangered;
    transition: 0.5s;

}
.titulo:hover{
    color:blue;
}

.borde{
    font-family:Verdana;
    color:white;
    text-shadow:2px 0 0 #000000,
                -2px 0 0 #000,
                0 2px 0 #000,
                0 -2px 0 #000,
                1px 1px #000,
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000;
}
  