<div class="col">
  <div class="row">
  <div class="card" style="width: 18rem;" *ngFor="let i of info">
    <mat-card class="example-card">
      <mat-card-header>
        <!-- TÍTULO -->
        <mat-card-title>{{i.titulo}}</mat-card-title>
      </mat-card-header>
      <!-- IMAGEN -->
      <img mat-card-image src="{{i.imagen}}" alt="{{i.alt}}" width="100%">
      <mat-card-content>
        <!-- DESCRIPCIÓN Y DATOS -->
        <p>
          {{i.descripcion}}
          <br>
          Categoria: {{i.categoria}}
          <br>
          Duracion: {{i.duracion}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>