.example-form {
    max-width: 90%;
    min-width: 10%;
    font-size: 150%;
    place-self: center;
}

.example-form2 {
  max-width: 900%;
  min-width: 95%;
  font-size: 150%;
  place-self: center;
}
  
.example-full-width {
    width: 100%;
}

.example-form-field {
  
    width: 100%;
}

.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16%;
  }
  
  .demo-button + .demo-button {
    margin-left: 8%;
  }
  
  .cuadrado {
    width: 10rem;
    height: 10rem;
    background: #e26b09;
    display: grid;
    border-radius: 10%;
}
.rectangulo {
  width: 47.5%; 
  height: 6rem;
  background: #e26b09;
  display: grid;
}


.cuadrado2 {
  width: 47.5%; 
  height: 25%;
  background: #e26b09;
}