.example-form {
    max-width: 90%;
    min-width: 10%;
    font-size: 150%;
    place-self: center;
}

.example-form2 {
  max-width: 100%;
  min-width: 95%;
  font-size: 150%;
  place-self: center;
}
  
.example-full-width {
    width: 100%;
}

.example-form-field {
  
    width: 100%;
}

.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16%;
  }
  
  .demo-button + .demo-button {
    margin-left: 8%;
  }
  
  .cuadrado {
    margin-left: 9%;
    width: 75%;
    height: 10rem;
    background: #e26b09;
    display: grid;
}
.rectangulo {
  margin-left: 3.5%;
  width: 96.5%; 
  height: 6rem;
  background: #e26b09;
  display: grid;
}


.cuadrado2 {
  position: center;
  width:100%; 
  height: 100%;
  background: #e26b09;
}

.cuadrado3 {
  width:100%; 
  height: 120%;
  background: #e26b09;
}

#contenedor {
  padding: 1%;
}