.example-form {
    max-width: 80%;
    font-size: 150%;
    border-radius: 50%;
    position: relative;
    align-items: center;
}
  
.example-full-width {
    width: 100%;
}

.example-form-field {
  
    width: 50%;
}

.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16%;
  }
  
  .demo-button + .demo-button {
    margin-left: 8%;
  }
  
  .cuadrado {
    width: 35%; 
    height: 45%;
    background: #e26b09;
}
.rectangulo {
  width: 110%; 
  height: 25%;
  background: #e26b09;
}


.cuadrado2 {
  width: 50%; 
  height: 25%;
  background: #e26b09;
}