<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                 <h1 class="text-center">Login</h1>
                <form [formGroup]="LoginForm" (ngSubmit)="onLogin()">
                   
                    <div class="form-goup">


                        <label for="email" >Email</label>
                        <input type="email" class="form-control" formControlName="email">


                    </div>
                    <div class="form-goup">

                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" formControlName="password">


                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="submit">login</button>
                         <button class="btn btn-success" mat-raised-button color="primary" (click)="salir()">Cerrar Sesión</button>
                       
                      </div>
                      
               
                </form>
                <div class="form-goup mt-3">
                    <p> Cree una cuenta <a [routerLink]="['/register']" > Register</a> </p>
                   

                </div>
            </div>
        </div>
    </div>
</div>
