table {
    width:100%;
}/******Este es el codigo que cambias!********/
table {
    border: 2px solid red;
    border-radius: 5px;
   /***************/
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
  background:#bced42;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff,#bced42);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #bdbdbd, #bced42); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
.center {
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.button{
  padding: 2px;
  border-radius: 15px;
}
