
<!DOCTYPE html>
<html>
<head>

</head>
<body>

<h2 class="center">Tabla De Recetas</h2><br>


<table  id="t01">
  <tr>
    <th>Nombre de la Receta </th>
    <th>descripcion</th> 
    <th>imagen</th>
    <th>categoria</th>
    <th>duracion</th>
    <th>porciones</th>
    

  </tr>
  <tr *ngFor="let i of coleccionRecetas">
    <!--primera fila -->
    <td>{{i.titulo}}</td>
    <td>{{i.descripcion}}</td>
    <td><img src="{{i.imagen}}" alt="{{i.alt}}"></td>
    <td>{{i.imagen}}</td>
    <td>{{i.categoria}}</td>
    <td>{{i.duracion}}</td>
    <td>{{i.porciones}}</td>
  </tr>
 
</table>


</body>
</html>