
<!DOCTYPE html>
<html>
<head>

</head>
<body>

<h2 class="text-center" >Tabla De Recetas</h2><br>


<table  id="t01" >
  <tr>
    <th class="text-center" >Nombre de la Receta </th>
    <th class="text-center" >Descripcion         </th>
    <th class="text-center" >Imagen              </th>
    <th class="text-center" >Ingredientes        </th>
    <th class="text-center" >Duracion            </th>
    <th class="text-center" >Porciones           </th>


  </tr>
  <tr id="t01" *ngFor="let i of coleccionRecetas">
    <!--primera fila -->
    <td  class="text-center">{{i.titulo}}</td>
    <td class="text-center">{{i.descripcion}}</td>
    <td class="text-center"><img src="{{i.imagen}}" alt="imagen"></td>
    <td class="text-center">{{i.ingredientes}}</td>
    <td class="text-center">{{i.duracion}}</td>
    <td class="text-center">{{i.porciones}}</td>
    <td>
        <button class="button" class="btn btn-danger" (click)="borrarReceta(i)">borrarReceta</button>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarProducto" (click)="mostrarEditar(i)">Editar Producto</button>



        <div class="modal fade" *ngFor="let col of coleccionRecetas" id="editarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edite la siguiente receta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div [formGroup]="Receta" class="modal-body">
                <div class="mb-3">
                  <label class="form-label">Ingrese nombre de la receta:</label>
                  <input class="form-control" type="text" formControlName="titulo" placeholder="{{col.titulo}}">
                </div>

                <div class="mb-3">
                  <label class="form-label">Ingrese una descripción:</label>
                  <input class="form-control" type="text" formControlName="descripcion" placeholder="{{col.descripcion}}">
                </div>

                <div class="mb-3">
                  <label class="form-label">Ingrese una imagen:</label>
                  <input class="form-control" type="text" formControlName="imagen" placeholder="{{col.imagen}}">
                </div>

                <div class="mb-3">
                  <label class="form-label">Ingrese texto alternativo de la imagen</label>
                  <input class="form-control" type="text" formControlName="alt" placeholder="{{col.alt}}">
                </div>



                <div class="mb-3">
                  <label class="form-label">Coloque el tiempo de preparacion </label>
                  <input class="form-control" type="text" formControlName="duracion" placeholder="{{col.duracion}}">
                </div>

                <div class="mb-3">
                  <label class="form-label">Coloque el tiempo de preparacion </label>
                  <input class="form-control" type="text" formControlName="porciones" placeholder="{{col.porciones}}">
                </div>




              </div>

              <!-- ACCIONES DEL MODAL -->
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="editarReceta()">Guardar cambios</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div>


    </td>
  </tr>

</table>

<button type="submit" class="button" routerLink="/inicio" >
 Volver al inicio 
</button>
</body>
</html>
  
