table {
    width:100%;
}/******Este es el codigo que cambias!********/
table {
    border: 2px solid red;
    border-radius: 5px;
   /***************/
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
.center {
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}