<div id="carouselExample" class="carousel slide"><!-- Carrusel de novedades, mostrara las que el administrador desee -->
  <div class="carousel-inner">
    <div class="carousel-item active"><!--NO OLVIDAR PONER NGFOR-->>
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<div>
  <h2 class="text-black">Recetas destacadas</h2>
  <!-- Aqui se encontrara el componente card con informacion relativa -->
</div>
<br>
<div>
  <h2 class="text-black">Recetas recientes</h2>
  <!-- Aqui se encontrara el componente card con informacion relativa -->
</div>
<br>
<div class="text-success">
  <h2>Recetas guardadas</h2>
  <!-- Aqui se encontrara el componente card con informacion relativa -->
</div>
