button{
  padding: 5px;
  margin: 30px;
  justify-content: center;
}

input{
  padding: 5px;
  margin: 30px;
  width: 50%;
  justify-content: center;
}

label{
  padding-left: 100px;
}

.texto1{
  padding-left: 50px;
}

.texto2{
  text-align: center;
}

.material-icons{
  justify-content: center;
}

