<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                 <h1 class="text-center">Register</h1>

                 <!-- formulario para el registro-->
                <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                   

                    <div class="form-group">
                        <label for="email" >Email</label>
                        <input type="email" class="form-control" formControlName="email" >
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                    <div class="d-grid gap-2  mt-2">
                        <button type="submit" class="btn btn-success" >Register</button>
                    </div>
                    

                </form>

                <div class="form-group mt-3">


                    <p> ¿Tiene una cuaneta?<a [routerLink]="['/login']" > Login</a> </p>

                </div>
            </div>
        </div>
    </div>
</div>

