<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Your Website With Background Video</title>
    <link rel="stylesheet" href="inicio.component.css">
</head>
<body>
    <div class="banner">
        <video autoplay loop muted plays-inline>
            <source src="../../../../../assets/video 2 para incio.mp4" type="video/mp4">
        </video>
        <div class="navbar">
            <img class="logo" src="../../../../../assets/logo tipo 1 png.png" width="135" height="100">
            <ul>
                <li><a routerLink="/register">Registrarse</a></li>
                <li><a href="/login">Iniciar Sesión</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Encuentra nuevas recetas</h1>
            <div>
                <button type="button" routerLink="/cards">Entrar</button>
            </div>
        </div>
    </div>
</body>
</html>
