<div class="centered-container">
    <div class="row">
      <h1>Register</h1>
        <!-- Nombre -->
        <mat-form-field appearance="fill">
            <mat-label>Ingrese un nombre de usuario:</mat-label>
            <input [(ngModel)]="usuarios.nombre" name="nombre" matInput required>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="fill">
            <mat-label>Ingrese un email:</mat-label>
            <input [(ngModel)]="usuarios.email" name="email" matInput required>
        </mat-form-field>
        <!-- Contraseña -->
        <mat-form-field>
            <mat-label>Ingrese una contraseña:</mat-label>
            <input [(ngModel)]="usuarios.contrasena" name="contrasena" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="start">Mínimo:6/{{input.value.length}}</mat-hint>
        </mat-form-field>

        <button class="boton" mat-raised-button color="primary" (click)="onRegister()">Registrar</button>
    
    </div>
</div>




