<form
  class="container text-center"
  id="Receta"
  [formGroup]="Receta"

>
  <div class="row">
    <div class="col">
      <div class="rectangulo">
        <mat-label
          ><h1><p align="center">Nombre Receta:</p></h1></mat-label
        >
        <mat-form-field class="example-form-field">
          <input
            matInput
            type="textarea"
            placeholder="Ingrese nombre de la receta"
            id="titulo"
            formControlName="titulo"
          />
        </mat-form-field>
      </div>
      <br />
      <div class="row">
        <div class="col-5">
          <br />
          <div class="row">
            <div class="col">
              <div class="cuadrado">
                <mat-label class="texto">
                  <h1><p align="center">Porciones</p></h1>
                </mat-label>
                <mat-form-field class="example-full-width">
                  <input matInput type="number" formControlName="porciones" placeholder="Eje  4" />
                </mat-form-field>
              </div>
              <br />
              <div class="cuadrado">
                <label class="texto">
                  <h1><p align="center">Tiempo de preparacion:</p></h1>
                </label>
                <mat-form-field class="example-full-width">
                  <span matPrefix>
                    <mat-icon class="tiempo">schedule</mat-icon>
                  </span>
                  <input
                    class="inp-tie"
                    type="time"
                    matInput
                    formControlName="duracion"
                  />
                </mat-form-field>
              </div>
              <br />
              <div class="cua-foto">
                <button class="boton-foto" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                  <mat-icon class="foto">add_a_photo</mat-icon>
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                          Ingrece la url de la imagen
                        </h1>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label"
                              >Url:</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="recipient-name"
                              formControlName="imagen"/>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-danger"
                          data-bs-dismiss="modal"
                        >
                          Salir
                        </button>
                        <button type="button" class="btn btn-primary">
                          Enviar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col cuadrado3">
          <h1>Ingredientes</h1>
          <p>
            <textarea class="texa" formControlName="ingredientes" placeholder="Eje: 1kg de pollo, 150g de harina ...."></textarea>
          </p>
        </div>
      </div>
    </div>
    <div class="col cuadrado2">
      <h1>Procedimiento</h1>
      <p class="">
        <textarea class="texa" formControlName="descripcion" placeholder="1-precalentar el horno a 180º"></textarea>
      </p>
      <div>
        <br>
        <button type="submit" class="button" routerLink="/table" (click)="agregarReceta()" > Enviar Receta </button>
      </div>
    </div>
  </div>
  <div>
    <br>
  </div>
</form>
