<div class="cointainer text-center" id="agregarReceta"  [formGroup]="Receta">
  <div class="row">
    <div class="col">
          <div class="rectangulo">
            <form class="example-form2">
              <mat-label><p align="center">Nombre Receta</p></mat-label>
              <mat-form-field class="example-form-field">
                <input  matInput type="textarea" placeholder="Ingrese nombre de la receta" formControlName="titulo">
  
              </mat-form-field>
            </form>
          </div>
      <br/>
      <div class="row">
        <div class="col-5">
          <br>
          <div class="row">
            <div class="col">
              <div class="cuadrado">
                <form class="example-form">
                  <mat-label class="texto">
                  <p align="center">Porciones</p></mat-label>
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" formControlName="porciones">
                  </mat-form-field>
                </form>
              </div>
              <br />
              <div class="cuadrado">
                <form class="example-form">
                  <label class="texto">
                    <p align="center">Tiempo de preparacion:</p>
                  </label>
                  <mat-form-field class="example-full-width">
                    <span matPrefix>
                      <mat-icon class="tiempo">schedule</mat-icon>
                    </span>
                    <input class="inp-tie" type="time" matInput formControlName="duracion">
                  </mat-form-field>
                </form>
              </div>
              <br>
              <div class="cua-foto">
                <mat-icon class="foto"><button class="boton-foto">add_a_photo</button></mat-icon>
                
              </div>
            </div>
          </div>
        </div>
        
        <div class="cuadrado">
          <table class="cuadrado3">
         <input matInput type="number" formControlName="porciones" >
          </table>
        </div>
      </div>

    </div>

    <div class="col cuadrado2">
      <h2>Procedimiento</h2>
      <p class="cuadrado2">
        <textarea class="texa" formControlName="descripcion"></textarea>
      </p>
    </div>
  </div>
  <div>
    <button type="button" (click)="agregarReceta()">Enviar Receta</button>
  </div>
  
</div>
