<div class="cointainer text-center" id="contenedor" *ngFor="let i of info">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-4">
          <br/>
          <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="cuadrado">
                            <form class="example-form">
                              <mat-label class="texto"><p align="center">Porciones</p></mat-label
                              ><mat-icon class="tiempo">group</mat-icon>
                              <p>{{ i.porciones }}</p>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="cuadrado">
                            <form class="example-form">
                              <label class="texto">
                                <p align="center">Tiempo de preparacion:</p>
                                <p>
                                  <mat-icon class="tiempo">schedule</mat-icon>{{ i.duracion }}
                                </p>
                              </label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-8">
          <table class="cuadrado3">
            <tr>
              loko
            </tr>
            <tr>
              loka
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col cuadrado2">
      <h2>Procedimiento</h2>
      <p class="cuadrado2">
        <textarea class="texa"></textarea>
      </p>
    </div>
  </div>
</div>
