


<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
 <div class="container-fluid">
   <a class="navbar-brand" [routerLink]="'/home'">Navbar</a>
   
   <ul class="navbar-nav mr-auto">
     <li class="nav-item " *ngIf="!Islogged">
       <a class="nav-link"routerLink="/login">login</a>
     </li>
   </ul>
   <ul class="navbar-nav mr-auto">
     <li class="nav-item "  >
      <a class="nav-link"   (click)="salir()">Cerrar Sesión</a>
     </li>
   </ul>
   <ul class="navbar-nav mr-auto">
     <li class="nav-item "   *ngIf="!Islogged">
       <a class="nav-link" routerLink="/register">register</a>
     </li>
   </ul>
   
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
     
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor01">
    <li class="nav-item">
      <a class="nav-link"> {{ user?.email }}</a>
    </li>
    
  </div>
 </div>
</nav>
<!--

 {{user.email}}

<form class="d-flex">
       <input class="form-control me-sm-2" type="search" placeholder="Search">
       
     </form>
-->
