    <!--arreglar y meter cards en un col y row-->
<div class="container">
    <div class="row">            
        <div class="col-lg-4" *ngFor="let i of info">
            <div class="card">
                <div class="face front">
                    <img class="imagen" mat-card-image src="{{i.imagen}}">
                    <h3 class="borde">{{i.titulo}}</h3>
                </div>
                
                <div class="face back">
                    <h4 class="borde">{{i.titulo}}</h4>
                    <div>
                        <p><mat-icon>schedule</mat-icon> {{i.duracion}} </p>
                    </div>
                    <div>
                        <p><mat-icon>label</mat-icon> {{i.categoria}}</p>
                    </div>
                    <div>
                        <p><mat-icon>group</mat-icon> {{i.porciones}}</p>
                    </div>
                    <div class="action">
                        <a href="#" class="btn" routerLink="/mostrarRecetas"> <FONT color="white"  > recetas </FONT> </a>
                    </div>
                </div>
            </div>
    </div>
</div>