<div class="container">
    <div class="row">
        <h2 class="text-black">Recetas recientes</h2>
        <div class="col-lg-4" *ngFor="let i of coleccionRecetas">
            <div class="card">
                <div class="face front">
                    <img class="imagen" alt="" mat-card-image src="{{i.imagen}}">
                    <h3 class="borde">{{i.titulo}}</h3>
                </div>

                <div class="face back">
                    <h4 class="borde">{{i.titulo}}</h4>
                    <div>
                        <p><mat-icon>schedule</mat-icon> {{i.duracion}} </p>
                    </div>

                    <div>
                        <p><mat-icon>group</mat-icon> {{i.porciones}}</p>
                    </div>
                    <div class="action">
                        <a href="#" class="btn" routerLink="/receta">
                            <font  color="white">Ver receta</font>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
