<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile>
    <mat-card class="card">

      <button class="menu" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Editar</button>
        <button mat-menu-item>Borrar</button>
      </mat-menu>

  <mat-card-title class="titulo">(Receta)</mat-card-title>
  <mat-card-subtitle class="descripción">(Descripción)</mat-card-subtitle>

</mat-card>
</mat-grid-tile>
  
<mat-grid-tile>
    <mat-card class="card">
      <button class="menu" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Editar</button>
        <button mat-menu-item>Borrar</button>
      </mat-menu>
      <mat-card-title class="titulo">(Receta)</mat-card-title>
      <mat-card-subtitle class="descripción">(Descripción)</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-card class="card">
      <button class="menu" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Editar</button>
        <button mat-menu-item>Borrar</button>
      </mat-menu>
      <mat-card-title class="titulo">(Receta)</mat-card-title>
      <mat-card-subtitle class="descripción">(Descripción)</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-card class="card">
      <button class="menu" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Editar</button>
        <button mat-menu-item>Borrar</button>
      </mat-menu>
      <mat-card-title class="titulo">(Receta)</mat-card-title>
      <mat-card-subtitle class="descripción">(Descripción)</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="card">
      <button class="menu" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Editar</button>
        <button mat-menu-item>Borrar</button>
      </mat-menu>
  <mat-card-title class="titulo">(Receta)</mat-card-title>
  <mat-card-subtitle class="descripción">(Descripción)</mat-card-subtitle>
</mat-card>
</mat-grid-tile>
  
<mat-grid-tile>
    <mat-card class="card">
      <button class="menu" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Editar</button>
        <button mat-menu-item>Borrar</button>
      </mat-menu>
      <mat-card-title class="titulo">(Receta)</mat-card-title>
      <mat-card-subtitle class="descripción">(Descripción)</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-card class="card">
      <button class="menu" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Editar</button>
        <button mat-menu-item>Borrar</button>
      </mat-menu>
      <mat-card-title class="titulo">(Receta)</mat-card-title>
      <mat-card-subtitle class="descripción">(Descripción)</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-card class="card">
      <button class="menu" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Editar</button>
        <button mat-menu-item>Borrar</button>
      </mat-menu>
      <mat-card-title class="titulo">(Receta)</mat-card-title>
      <mat-card-subtitle class="descripción">(Descripción)</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<!--
          <button class="separar" mat-flat-button color="warn" routerLink="./crud">Ver lista de recetas</button>
        <button class="separar" mat-flat-button color="warn">Subir receta</button>
-->
